*{
  font-family: sans-serif, Arial;
  color: rgb(248, 245, 245);
  margin: 0;
}
body{
 background-color: rgb(58, 56, 56);
  margin: 0;
  align-content: center;
  justify-items: center;
}
p{
  color: rgb(172, 166, 166);
}
.container{
  display: flex;
  max-width: 1000px;
  width: 90%;
  height: auto;
  align-content: center;
  justify-items: center;
}
.content,.ImgRef{
  height: inherit;
  width: 100%;
  max-width: 400px;
}
.content{
  padding: 50px 20px;
  background-color: rgb(2, 2, 51);
}
.logo{
  display: flex;
  margin: 0px 0px 15px 0px;
  align-items:end;
}
.logo1,.logo2,.logo3{
  width: 10px;
  background-color: blue;
}
.logo1{
  height: 15px;
}
.logo2{
  height: 25px;
}
.logo3{
  height: 35px;
  margin-right: 8px;
}
.brealN{
  font-size: 1.5rem;
  letter-spacing: 0.05px;
  align-self: center;
}
.InputContainer{
  margin: 10px 0px;
}
.DataInput{
  border: 1px solid rgb(155, 143, 143);
  background-color: transparent;
  width: 100%;
  height: 40px;
  border-radius: 10px;
}
.TermsandC{
  margin: 10px 0px;
}
.TandC{
  display: inline;
}
.loginbtn{
  background-color: rgb(115, 115, 148);
  border: none;
  padding: 10px 0px;
  width:100% ;
  justify-items: center;
  border-radius: 8px;
  margin: 10px 0px;
}
.ImgRef{
  background-color: gray;
}