body{
  margin: 0;
  color: white;
  background-color: rgb(20, 19, 19);
  scrollbar-width: 0;
}
*{
  font-family: sans-serif;
  margin: 0;
}
.Header{
  width: 100%;
  height: 100px;
  box-shadow: 0px 0px 20px;
  margin-bottom:10px ;
  background-color: rgb(156, 149, 149);
}
.nav{
  max-width: 150px;
  min-width: 70px;
}
.main{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  width: 100%;
  height: auto;
  background-color: transparent;
}
.Hsection{
  border-radius: 15px;
  background-color: rgb(56, 55, 55);
  margin: 10px  15px;
  padding: 5px 25px;
}
.TaskView{
  display: flex;
  align-items: start;
  height: auto;
  padding: 5px;
  background-color: rgb(20, 19, 19);
  border-radius: 5px;
  width: 100%;
  margin: 15px 0px;
}
.TVSp{
  display: block;
  color: rgb(158, 155, 155);
}
.radio{
  border: 1px solid rgb(107, 105, 105);
  background-color: transparent;
  margin-right: 10px;
}
.completeBtn{
  align-self:center ;
  
  border-radius: 10px;
  border: none;
  background-color: rgb(15, 138, 179);
  color: white;
  padding: 10px 10px;
}
.mapView{
  border-radius: 15px 15px 0px 0px;
  height: 300px;
  width: 100%;
}
.LocationI{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.locationInfo{
  display: flex;
  margin: 10px 7px;
}
.icons{
  width: 20px;
  align-self: flex-start;
  margin: 1px 12px;
}
.scheduleBox{
  display: flex;
  margin: 5px 25px;
}
.SchDate{
  margin: 0px 5px;
}
.SchLine{
  width: 5px;
  height: 50px;
  background-color: blue;
  border-radius: 4px;
}
.schInfo{
  margin: 0px 5px;
}
.EarningLayO{
  margin: 10px 0px;
  padding: 20px 20px;
  border-radius: 10px;
  width: 90%;
  height: auto;
  background-color: rgb(17, 16, 16);
  justify-self: center;
}
.statementBtn{
  justify-self: center;
  padding: 10px 50px;
  color: white;
  background-color: rgb(109, 109, 131);
  border: none;
  border-radius: 10px;
  margin: 20px 0px;
}