*{
  font-family: sans-serif;
  color: white;
  margin: 0px;
}
body{
  margin: 0px;
  background-color: rgb(54, 53, 53);
}
.logo{
  display: flex;
  justify-items:b ;
}
.logoS1,.logoS2, .logoS3{
  width: 30px;
  background-color:navy ;
  height: 20px;
}
.logoS2{
  height: 40px;
}
.logoS3{
  height: 60px;
  margin-right: 10px;
}
.content{
  width: 100%;
  height: 100vh;
  align-content: center;
  justify-items: center;
}
.motto{
  color: rgb(175, 168, 168);
}
.target{
  display: flex;
  margin: 0px 0px 40px 0px;
  min-width: 400px;
  height: auto;
  padding: 10px 15px;
}
.targetBox{
  min-width: 300px;
  height: 200px;
  border-radius: 12px;
  background-color: rgb(78, 76, 76);
  margin: 5px 10px;
}